@import url('https://fonts.cdnfonts.com/css/the-lego-movie');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(139, 138, 138); */
    background-image: url("https://cdna.artstation.com/p/assets/images/images/016/877/720/original/jarek-bartyna-cage1b.gif?1553801430");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;

}
.home{
    margin-inline: 25rem;
    margin-top: 15rem;
}
button{
    position: relative;
    margin-top: 5rem;
    margin-inline-start: 15rem;
    width: 14rem;
    height: 3.5rem;
    border: 3px solid white;
    color: white;
    cursor: pointer;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.4s ease;
    font-weight: 900;
    font-size: 1rem;
}

        button::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 0.4s ease;
            z-index: -1;
        }

        button:hover::after {
            background: linear-gradient(45deg, purple, rgb(0, 0, 123), #FF5733, maroon); 
        }
    
h1{
    color: white;
    font-family: 'THE LEGO MOVIE', sans-serif;
    font-size: 4rem;
    margin-inline-start: 2rem;
    animation: shadowCycle 3s infinite;
    /* text-shadow: 10px 10px 10px blue, 10px 10px 10px purple, 10px 10px 10px red; */
}

@keyframes shadowCycle {
    0% {
        text-shadow: 3px 3px 5px red, -3px -3px 5px blue, 2px -2px 5px green, -2px 2px 5px yellow, 0px 0px 10px purple;
    }
    25% {
        text-shadow: -3px 3px 5px orange, 3px -3px 5px pink, -2px 2px 5px cyan, 2px -2px 10px magenta;
    }
    50% {
        text-shadow: 5px 5px 10px lime, -5px -5px 5px turquoise, 2px 2px 10px violet, -2px -2px 5px teal;
    }
    75% {
        text-shadow: 3px 3px 5px gray, -3px -3px 5px brown, 1px -1px 5px coral, -1px 1px 5px maroon;
    }
    100% {
        text-shadow: 3px 3px 5px red, -3px -3px 5px blue, 2px -2px 5px green, -2px 2px 5px yellow, 0px 0px 10px purple;
    }
}