@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://img.freepik.com/free-vector/pink-glitter-light-spray-effect-dust-sparkle_107791-29885.jpg?semt=ais_hybrid");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center; 
    background-attachment: fixed;
}


.grid {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px);
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: 0 auto;
}


.flip-card {
    width: 140px;
    height: 120px;
    perspective: 1000px;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

.flip-card.show .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-front {
    background-color: rgb(206, 197, 197);
    border: 2px solid purple;
}

.flip-card-back {
    transform: rotateY(180deg);
    background-size: cover;
    background-position: center;
    width: 135px;
    height: 135px;
}

button {
    position: relative;
    margin-left: 2rem;
    margin-top: 1.7rem;
    width: 170px;
    height: 40px;
    font-size: 1.3rem;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.4s ease;
    color: white;
    border: 1.5px solid purple;
}

i {
    margin-right: .7rem;
    font-size: 1.4rem;
}

button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
    z-index: -1;
}

button:hover::after {
    background: linear-gradient(45deg, purple, rgb(0, 0, 123), #FF5733, maroon);
}

.game-info {
    display: flex;
    border: 2px solid purple;
    background-color: rgb(43, 41, 41);
    width: 25%;
    font-size: 1.8rem;
    text-shadow: 2px 2px 2px purple;
    color: white;
    margin-inline-start: 35rem;
    margin-block-start: 1rem;
    padding: 5px;
    margin-bottom: 3rem;
}

#timer {
    margin-left: 3rem;
}

@media only screen and (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(4, 150px);
        width: 50%;
    }

    .game-info {
        width: 30%;
        font-size: 1.6rem;
        margin-inline-start: 30rem;
    }

    button {
        width: 160px;
        height: 45px;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 992px) {
    .grid {
        grid-template-columns: repeat(3, 150px);
        width: 60%;
    }

    .game-info {
        width: 35%;
        font-size: 1.5rem;
        margin-inline-start: 20rem;
    }

    button {
        width: 150px;
        height: 40px;
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 150px);
        width: 70%;
    }

    .game-info {
        width: 50%;
        font-size: 1.3rem;
        margin-inline-start: 12rem;
    }

    button {
        width: 140px;
        height: 35px;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(2, 120px);
        width: 80%;
    }

    .game-info {
        width: 60%;
        font-size: 1.2rem;
        margin-inline-start: 8rem;
    }

    button {
        width: 130px;
        height: 30px;
        font-size: 0.9rem;
    }
}

/* For screens less than 480px */
@media only screen and (max-width: 300px) {
    .grid {
        grid-template-columns: repeat(2, 90px);
        width: 90%;
    }

    .game-info {
        width: 10%;
        font-size: 1.1rem;
        /* margin-inline-start: 5rem; */
        margin-right: 100px;
    }

    button {
        width: 120px;
        height: 30px;
        font-size: 0.9rem;
    }
}
